/* ===========================
   로그 리스트 테이블
=========================== */
.table_wrap{
    width:100%;
    overflow-x:auto;
}

.log_table{
    width:100%;
    border-collapse:collapse;
}

.log_table thead {
    background: var(--system-panel-light);
}

.log_table th{
    padding:12px;
    text-align:center;
    border-bottom:2px solid #ddd;
}

.log_table td{
    padding:12px;
    text-align:center;
    border-bottom:1px solid #eee;
}

.log_table tbody tr:hover{
    background: var(--system-panel-light);
}

.empty{
    text-align:center;
    padding:30px;
}