/* ===== 상태 ===== */

.checked {
    color: #198754;
    font-weight: bold;
}

.unchecked {
    color: #dc3545;
    font-weight: bold;
}

.log_check,
#check_all {
    width: 18px;
    height: 18px;
    cursor: pointer;
}