<article class="table_wrap">

    <table class="log_table">

        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="check_all">
                </th>

                <th>No.</th>
                <th>이벤트ID</th>
                <th>발생시간</th>
                <th>위도</th>
                <th>경도</th>
                <th>대상ID</th>
                <th>상태</th>
            </tr>
        </thead>

        <tbody id="event_log_body">

        {% for event in events %}

        <tr>
            <td>
            <input class="log_check" type="checkbox" value="{{ event.ID }}" {% if event.IS_READ %}disabled{% endif %}>
            </td>

            <td>{{ (page - 1) * per_page + loop.index }}</td>
            <td class="event_id">
                <a href="#" class="capture_btn" data-event-id="{{event.ID }}">
                    {{event.ID }}
                </a>
            </td>
            <td>{{ event.REG_DATE }}</td>
            <td>{{ event.latitude }}</td>
            <td>{{ event.longitude }}</td>
            <td>{{ event.TARGET_ID }}</td>

            <td>
            {% if event.IS_READ %}

            <span class="checked">읽음</span>

            {% else %}

            <span class="unchecked">읽지않음</span>

            {% endif %}

            </td>
        </tr>

        {% endfor %}

        </tbody>

    </table>

</article>