<article class="table_wrap">

    <table class="log_table">

        <thead>
            <tr>
                <th>No.</th>
                <th>이벤트 ID</th>
                <th>사용자 ID</th>
                <th>읽은 시간</th>
            </tr>
        </thead>

        <tbody>

            {% for log in logs %}

            <tr>
                <td>{{ (page - 1) * per_page + loop.index }}</td>
                <td>{{ log.EVENT_LOG_ID }}</td>
                <td>{{ log.VIEWER_ID }}</td>
                <td>{{ log.READ_DATE }}</td>
            </tr>

            {% else %}

            <tr>
                <td colspan="4" class="empty">
                    등록된 사용자 로그가 없습니다.
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</article>