<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OBSIDIAN SHIELD</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/main_index.css') }}" />
  </head>



  <body>
    <main class="main">
      {% include "includes/header.html" %}

      <section class="section">
        <div class="center-area">
          <div class="title-box">
            <h2>OBSIDIAN<br />SHIELD</h2>
            <p>AI 기반 실시간 추적 관제 시스템</p>
          </div>

          <form id="loginForm" class="login-card" action="/login" method="POST">

            <div class="input-box">
              <span class="icon">👤</span>
              <strong>ID</strong>
              <input type="text" name="uId" placeholder="아이디를 입력하세요" />
            </div>

            <div class="input-box">
              <span class="icon">🔒</span>
              <strong>PW</strong>
              <input type="password" name="uPw" placeholder="비밀번호를 입력하세요" />
            </div>

            
            {% include "includes/message_box.html" %}
         
            {% include "includes/captcha_box.html" %}

            <button type="button" onclick="login()">로그인</button>

          </form>
        </div>
      </section>
    </main>

    {% include "includes/footer.html" %}

 

    <script>
      function login() {
        const form = document.getElementById("loginForm");

        if (!form) {
          console.error("loginForm을 찾을 수 없습니다.");
          return;
        }

        form.submit();
      }
    </script>

    
  </body>
</html>